

/* ************************************************************************ */
/* CONFIGURACION PARA VER LA LANDINGPAGE EN PANTALLAS MENORES A 768 PIXELES */
/* ************************************************************************ */
@media (max-width: 768px) {


    /* CONTENEDOR PRINCIPAL */
    .card_1-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-image: url('../../imagenes/card_1_Inicio_imagenes/card_1_fondo.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }


                /* SUB Contenedor 1 */
                .card_1_banner-title {
                    color: #ffffff;
                    font-weight: bold;
                    text-align: center;
                    background-color: rgb(84, 130, 53,0.8 );
                    padding: 0.5rem;
                    font-size: 0.9rem;
                }


                /* SUB Contenedor 2 */
                .car_1-sub-title1 {
                    display: flex;
                    flex-direction: row;
                    text-align: justify;
                    background-color: rgba(5, 93, 217, 0.7);
                    width: 50%;
                    align-items: center;
                    margin-top: 10rem;
                    margin-bottom: 2rem;
                }
                            

                            .car_1-sub-title1-texto {
                                color: #ffffff;
                                font-weight: bold;
                                padding: 0.5rem;
                                text-align: left;
                                font-size: 0.8rem;

                            }


                /* SUB Contenedor 3 */
                .card_1-sub-title2 {
                    font-weight: bold;
                    text-align: center;
                    color: #ffffff;
                    background-color: rgb(84, 130, 53, 0.6);
                    padding: 0.5rem;
                    font-size: 0.6rem;
                }


}




/* ************************************************************************ */
/* CONFIGURACION PARA VER LA LANDINGPAGE EN PANTALLAS MAYORES A 768 PIXELES */
/* ************************************************************************ */
@media (min-width: 769px) {


    /* CONTENEDOR PRINCIPAL */
    .card_1-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        background-image: url('../../imagenes/card_1_Inicio_imagenes/card_1_fondo.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }


                /* SUB Contenedor 1 */
                .card_1_banner-title {
                    color: #ffffff;
                    font-weight: bold;
                    text-align: center;
                    background-color: rgba(84, 130, 53, 0.8);
                    padding: 0.5rem;
                    font-size: 3vw;
                }
            

                /* SUB Contenedor 2 */
                .car_1-sub-title1 {
                    display: flex;
                    flex-direction: row;
                    text-align: justify;
                    background-color: rgba(5, 93, 217, 0.7);
                    width: 50%;
                    align-items: center;
                    margin-top: 25rem;
                    margin-bottom: 2rem;
                }


                            .car_1-sub-title1-texto {
                                color: #ffffff;
                                font-weight: bold;
                                padding: 0.5rem;
                                text-align: left;
                                font-size: 2vw;
                            }

            
                /* SUB Contenedor 3 */
                .card_1-sub-title2 {
                    font-weight: bold;
                    text-align: center;
                    color: #ffffff;
                    background-color: rgb(84, 130, 53, 0.6);
                    padding: 0.5rem;
                    padding-right: 1rem;
                    margin-top: 1rem;
                }
                                    
                                    
}


