a.aguainclogoimg, a.excellentialogoimg {
    display: block;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}


.aguainclogoimg {
    background-image: url('../../imagenes/header_imagenes/header_aguainc.jpg');
}

.excellentialogoimg {
    background-image: url('../../imagenes/header_imagenes/header_excellentia.jpg');
}


.cont {
    display: inline-block;
    width: 140px; 
    height: 50px;
    margin: 10px; 
    border-radius: 10px; 
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
