

/* ************************************************************************ */
/* CONFIGURACION PARA VER LA LANDINGPAGE EN PANTALLAS MENORES A 768 PIXELES */
/* ************************************************************************ */
@media (max-width: 768px) {


    /* Contenedor principal */
    .card_3-container {
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../../imagenes/card_3_imagenes/card_3_fondo.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }


                /* SUB Contenedor 1 */
                .card_3-banner-tilte {
                    color: #ffffff;
                    font-weight: bold;
                    text-align: center;
                    background-color: rgb(84, 130, 53, 0.8);
                    padding: 0.5rem;
                    font-size: 0.7rem;
                }


                /* SUB Contenedor 2 */  
                .card_3-sub-container-iconwhasap-parrafo {
                    background-color: rgba(5, 93, 217, 0.7);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    align-self: center;
                    padding: 0.5rem;
                    margin-top: 15rem;
                }

                
                            .card_3-sub-container-parrafo {
                                display: flex;
                                color: #ffffff;
                                font-weight: bold;
                                text-align: center;
                                font-size: 0.8rem;
                            }


}


/* ************************************************************************ */
/* CONFIGURACION PARA VER LA LANDINGPAGE EN PANTALLAS MAYORES A 768 PIXELES */
/* ************************************************************************ */
@media (min-width: 769px) {


    /* Contenedor principal */
    .card_3-container {
        width: 80%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../../imagenes/card_3_imagenes/card_3_fondo.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }


                /* SUB Contenedor 1 */
                .card_3-banner-tilte {
                    color: #ffffff;
                    font-weight: bold;
                    text-align: center;
                    background-color: rgb(84, 130, 53, 0.8);
                    padding: 0.5rem;
                    font-size: 3vw;
                }


                .card_3-sub-container-iconwhasap-parrafo {
                    background-color: rgba(5, 93, 217, 0.7);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    align-self: center;
                    padding: 0.5rem;
                    margin-top: 35rem;
                }


                            /* SUB Contenedor 2.1 */
                            .card_3-sub-container-parrafo {
                                display: flex;
                                color: #ffffff;
                                font-weight: bold;
                                text-align: center;
                                font-size: 2.5vw;
                            }

}